[submodule "uzLib.Lite.ExternalCode/Libs/UniGif"]
	path = uzLib.Lite.ExternalCode/Libs/UniGif
	url = https://github.com/uta-org/UniGif.git
	branch = visual-studio
[submodule "uzLib.Lite.ExternalCode/Libs/TexturePacker"]
	path = uzLib.Lite.ExternalCode/Libs/TexturePacker
	url = https://github.com/uta-org/TexturePacker.git
	branch = visual-studio
[submodule "uzLib.Lite.ExternalCode/Libs/CielaSpike"]
	path = uzLib.Lite.ExternalCode/Libs/CielaSpike
	url = https://github.com/uta-org/CielaSpike-fork.git
