[submodule "uzLib.Lite.ExternalCode/Libs/UniGif"]
	path = uzLib.Lite.ExternalCode/Libs/UniGif
	url = https://github.com/uta-org/UniGif.git
	branch = visual-studio
[submodule "uzLib.Lite.ExternalCode/Libs/TexturePacker"]
	path = uzLib.Lite.ExternalCode/Libs/TexturePacker
	url = https://github.com/uta-org/TexturePacker.git
	branch = visual-studio
[submodule "uzLib.Lite.ExternalCode/Libs/Unity-WinForms"]
	path = uzLib.Lite.ExternalCode/Libs/Unity-WinForms
	url = https://gitlab.com/uta-org/Unity-WinForms-Premium.git
[submodule "uzLib.Lite.ExternalCode/Libs/CielaSpike"]
	path = uzLib.Lite.ExternalCode/Libs/CielaSpike
	url = https://github.com/uta-org/CielaSpike-fork.git
[submodule "uzLib.Lite.ExternalCode/Libs/Unity-WinForms-GUISkin-Tests"]
	path = uzLib.Lite.ExternalCode/Libs/Unity-WinForms-Skin
	url = https://github.com/uta-org/Unity-WinForms-GUISkin-Tests.git
	branch = visual-studio
