<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="TexturePacker.Lib" version="1.0.1" targetFramework="net461" />
  <package id="TidyNetPortable" version="1.0.0" targetFramework="net461" />
  <package id="Unity3D.UnityEngine" version="2018.1.6-f1" targetFramework="net461" />
</packages>